h1{
  text-align: center;
  background-color: green;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
}

*{
  margin: 0;
  padding: 0;
}

img{
  width: 447px;
  height: 350px;
}


ul{
  background-color: black;
  display: flex;
  padding: 20px;
}


a{
  color: white;
  text-decoration: none;
  font-size: 25px;
}

a:hover{
  color: red;
}

li{
  padding-left: 100px;
}

h2{
  color: white;
  padding: 25px;
  text-align: center;
  font-size: 40px;
  background-color: green;
}

p{
  font-size: 19px;
  padding: 15px;
}