h1{
  text-align: center;
  background-color: coral;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

*{
  margin: 0;
  padding: 0;
}

img{
  width: 447px;
}


ul{
  background-color: black;
  display: flex;
  padding: 20px;
}


a{
  color: white;
  text-decoration: none;
  font-size: 25px;
}

a:hover{
  color: red;
}

li{
  padding-left: 100px;
}